@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import url("https://fonts.cdnfonts.com/css/rubik-one");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/*--------------------NAVBAR--------------------*/
.nav {
  background: #fff;
  width: 100vw;
  height: 7.7rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav button {
  display: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_left {
  gap: 46px;
}
.menu_right {
  gap: 30px;
}
.menu_right li:nth-child(1) .circle__counter, .menu_right li:nth-child(2) .circle__counter, .menu_right li:nth-child(3) .circle__counter {
  display: none;
}
.menu_right li:nth-child(1) {
  position: relative;
}
.menu_right li:nth-child(1):hover .circle {
  background: transparent;
}
.menu_right li:nth-child(1):hover .profile .circle {
  background: #F9F9F9;
}
.menu_right li:nth-child(1):hover .profile {
  display: block;
}
.menu_burger {
  display: none;
}
.menu__logo {
  margin-right: 15px;
}
.menu__a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #292D32;
  transition: all 400ms ease;
}
.menu__a:hover {
  color: #33A9FF;
}

.circle {
  width: 49px;
  height: 49px;
  background: #F9F9F9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 400ms ease;
}
.circle:hover {
  background: transparent;
}
.circle__counter {
  width: 16px;
  height: 16px;
  background: #48A4EB;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__counter-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: #fff;
}

.profile {
  background: transparent;
  transition: all 400ms ease;
  display: none;
  position: absolute;
  padding: 70px 0 0 0;
  top: 246px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: all 400ms ease;
}
.profile:hover {
  display: block;
}
.profile__container {
  width: 405px;
  border-radius: 20px;
  overflow: visible;
  background: #fff;
  box-shadow: 0px 14px 75px rgba(0, 0, 0, 0.13);
  position: relative;
}
.profile__container::before {
  content: "";
  display: block;
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  position: absolute;
  left: 48.8%;
  top: -7.7px;
  transform: rotate(45deg);
}
.profile__elem {
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
  align-items: center;
  gap: 20px;
}
.profile__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-transform: none;
  color: #000;
}
.profile__a {
  display: block;
  border-top: 1px solid #F2F2F2;
  padding: 19.5px 30px;
}
.profile__a:hover .profile__text {
  color: #33A9FF;
}

/*--------------------HEADER--------------------*/
.header {
  position: relative;
  top: 7.7rem;
}
.header__bg-color {
  background: #F2F2F2;
  min-width: 1411px;
  width: 100%;
  height: 683px;
  position: absolute;
  top: 0;
  right: 509px;
  z-index: 1;
}
.header__bg {
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  font-size: 280px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(0deg, #EEEEEE -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 240px;
  z-index: 2;
}
.header__shadow {
  background: #F9F9F9;
  min-width: 509px;
  height: 683px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  z-index: 1;
  overflow: hidden;
}
.header__shadow-img {
  display: block;
  width: 716px;
  height: 725px;
  position: relative;
  top: -250px;
  left: 29%;
}
.header__container {
  height: 683px;
  z-index: 3;
}

.slider-container {
  width: 1400px;
  position: relative;
}
.slider-container__slider {
  position: relative;
  z-index: 2;
  background: transparent;
}
.slider-container__slider-next {
  padding: 20px 10px 41px 10px;
  height: 21px;
  border: none;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  right: 95px;
  top: 475px;
  z-index: 10;
  transition: all 400ms ease;
}
.slider-container__slider-next:hover {
  transform: scale(1.1);
}

.slider {
  overflow: hidden;
  width: 1400px;
  height: 683px;
}
.slider__line {
  width: 6906px;
  height: 683px;
  display: flex;
  position: relative;
  transition: all 400ms ease;
}
.slider__slide {
  transition: all 400ms ease;
  height: 683px;
  width: 1151px;
}

.slide {
  display: flex;
  flex-direction: row;
  transition: all 400ms ease;
}
.slide__scroll {
  display: flex;
  flex-direction: column-reverse;
  gap: 64px;
  position: relative;
  width: 25px;
  bottom: 32px;
  transition: all 400ms ease;
}
.slide__scroll-icon {
  display: block;
  width: 25px;
}
.slide__scroll-text {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #838383;
  transform: rotate(-90deg);
  position: relative;
  left: -44px;
}
.slide__description {
  position: relative;
  left: 105px;
  top: 250px;
  z-index: 3;
}
.slide__subtitle {
  transition: all 400ms ease;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}
.slide__title {
  margin-top: 15px;
  width: 400px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #292D32;
  position: relative;
}
.slide__button {
  transition: all 400ms ease;
  margin-top: 62px;
}
.slide__img {
  position: relative;
  left: 110px;
  top: 70px;
}

/*--------------------CATEGORIES--------------------*/
.categories {
  padding: 284px 0 180px 0;
}
.categories__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.category {
  width: 440px;
  height: 371px;
  border-radius: 20px;
  background: #F2F2F2;
  position: relative;
  transition: all 400ms ease;
}
.category:hover {
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3);
}
.category:nth-child(1) {
  background: transparent;
}
.category:nth-child(1):hover {
  box-shadow: none;
}
.category__number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 150%;
  color: #292D32;
  position: relative;
  top: 40px;
  left: 41px;
}
.category__img {
  display: block;
  position: absolute;
}
.category:nth-child(2) .category__img {
  top: -13px;
  left: 15px;
}
.category:nth-child(3) .category__img {
  top: -23px;
  left: 116px;
}
.category:nth-child(4) .category__img {
  top: 82px;
  left: 50px;
}
.category:nth-child(5) .category__img {
  top: 59px;
  left: 75px;
}
.category:nth-child(6) .category__img {
  top: 38px;
  left: 86px;
}
.category__description {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.category__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #838383;
}
.category__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  text-transform: none;
  color: #292D32;
}

.category-main__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
  color: #292D32;
  display: inline-block;
  padding: 0 50px 0 0;
}
.category-main__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  text-transform: none;
  color: #838383;
  padding: 29px 50px 0 0;
}
.category-main__button {
  display: inline-block;
  padding: 46px 0 0 0;
}

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  transition: all 400ms ease;
}
.button__circle {
  width: 55px;
  height: 55px;
  background: #33A9FF;
  border-radius: 50%;
  position: relative;
  transition: all 400ms ease;
}
.button__arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.button__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: none;
  color: #292D32;
  transition: all 400ms ease;
  display: inline-block;
  margin: 0 12px;
}
.button__title_light {
  color: #fff;
}
.button:hover .button__circle {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.button:hover .button__title {
  color: #33A9FF;
}

/*--------------------BENEFITS--------------------*/
.benefits {
  background: #F2F2F2;
  padding: 135px 0 46px 0;
  position: relative;
}
.benefits__bg {
  font-family: "Rubik One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 187px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.7;
  position: absolute;
  top: 152px;
  z-index: 1;
}
.benefits__container {
  display: flex;
  flex-direction: column;
}
.benefits__main {
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.benefits__img {
  display: block;
  position: relative;
  top: -48px;
  left: -80px;
}
.benefits__description {
  position: relative;
  left: -155px;
}
.benefits__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
  color: #292D32;
  display: block;
  padding: 47px 0 0 0;
}
.benefits__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: none;
  color: #838383;
  display: block;
  padding: 38px 41px 0 0;
}
.benefits__button {
  margin: 40px 0 0 0;
}
.benefits__articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.benefit {
  width: 330px;
  height: 289px;
  border-radius: 18px;
  background: #292D32;
  position: relative;
  transition: all 400ms ease;
}
.benefit:hover {
  transform: scale(0.9);
}
.benefit__forbg {
  position: absolute;
  right: 0;
}
.benefit__img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background: #343A41;
  margin: 30px 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefit__title {
  font-family: "Euclid Circular A", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: none;
  color: #fff;
  display: block;
  padding: 25px 0 0 30px;
}
.benefit__subtitle {
  font-family: "Euclid Circular A", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #B7B7B7;
  display: block;
  padding: 15px 0 0 30px;
}

/*--------------------NEWS--------------------*/
.news {
  padding: 170px 0 180px 0;
}
.news__container {
  display: flex;
  flex-direction: column;
}
.news__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.news__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  text-transform: none;
  color: #292D32;
  display: block;
}
.news__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  text-transform: none;
  color: #838383;
  display: block;
  padding: 24px 0 68px 0;
  width: 80%;
}
.news__button {
  flex-direction: row-reverse;
  position: relative;
  top: 8px;
}
.news__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 45px;
}

.new {
  width: 415px;
  height: 364px;
  position: relative;
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
}
.new__date {
  position: absolute;
  background: #fff;
  right: -25px;
  top: 65px;
  width: 50px;
  height: 97px;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.new__day {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: none;
  color: #292D32;
  text-align: center;
}
.new__month {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: none;
  color: #292D32;
  text-align: center;
}
.new__container {
  width: 100%;
  height: 100%;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.new__img {
  display: block;
  width: 100%;
  height: 262px;
}
.new__bg {
  z-index: 1;
  position: absolute;
  bottom: 0;
}
.new__bg-button {
  position: absolute;
  right: 24px;
  bottom: 60px;
  z-index: 2;
  background-color: #fff;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 50%;
  transition: all 400ms ease;
}
.new__bg-button:hover {
  right: 4px;
  bottom: 40px;
  padding: 30px;
}
.new__bg-button:hover .new__button-circle {
  transform: scale(1.5);
  background: #33A9FF;
}
.new__button-circle {
  width: 46px;
  height: 46px;
  background: #292D32;
}
.new__text {
  position: relative;
  z-index: 2;
}
.new__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  text-transform: none;
  color: #292D32;
  display: inline-block;
  margin: -17px 150px 0 30px;
}
.new__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: none;
  color: #292D32;
  display: block;
  margin: 10px 30px;
}

/*--------------------FORM--------------------*/
.form {
  position: relative;
  padding: 0 0 177px 0;
}
.form__bg-color {
  width: 100%;
  height: 673px;
  background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.form__bg {
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  font-size: 255px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(0deg, #EEEEEE -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.6;
  position: absolute;
  z-index: 2;
  bottom: 25px;
}
.form__container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.form__left {
  background: #F9F9F9;
  width: 50%;
  padding: 100px 0 65px 100px;
  z-index: 3;
}
.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
  color: #292D32;
  display: block;
}
.form__title_light {
  color: #fff;
}
.form__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
  color: #838383;
  display: block;
  padding: 15px 0 50px 0;
}
.form__subtitle_light {
  color: #fff;
}
.form__contact {
  margin-bottom: 47px;
}
.form__contact:nth-child(4) {
  margin-bottom: 70px;
}
.form__contact:nth-child(5) {
  margin-bottom: 60px;
}
.form__contact:nth-child(6) {
  display: flex;
  gap: 20px;
}
.form__right {
  width: 50%;
  background: #292D32;
  padding: 100px 0 0 129px;
  z-index: 3;
}
.form__field {
  margin-bottom: 36px;
}
.form__button {
  padding: 15px;
  background: transparent;
  margin-top: 6px;
  margin-left: -15px;
}
.form__img {
  position: absolute;
  top: 142px;
  left: 35%;
  z-index: 4;
}

.field {
  position: relative;
  padding: 17px 0 0 0;
}
.field__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #F2F2F2;
  position: absolute;
  top: 7px;
  left: 15px;
  padding: 0 10px;
  background: #292D32;
}
.field__block {
  background: #292D32;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  display: block;
  width: 434px;
  height: 60px;
  color: #fff;
  padding: 0 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}
.field__block_message {
  height: 145px;
  padding: 25px;
}

.form-contact {
  display: flex;
  flex-direction: row;
}
.form-contact__icon {
  width: 40px;
}
.form-contact__description {
  padding: 5px 0 0 16px;
  margin-right: 150px;
}
.form-contact__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #838383;
  display: block;
  padding-bottom: 8px;
}
.form-contact__info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-transform: none;
  color: #292D32;
  display: inline-block;
}

/*--------------------FOOTER--------------------*/
.footer {
  padding: 60px 0 0 0;
  position: relative;
}
.footer__bg {
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  font-size: 187px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.7;
  position: absolute;
  top: 135px;
  right: -35px;
  z-index: 1;
}
.footer__container {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.footer__main-info {
  display: grid;
  grid-template-columns: 0.21fr 1fr;
  gap: 0 24px;
  padding: 0 0 49px 0;
  position: relative;
  z-index: 2;
}
.footer__logo {
  display: inline-block;
  margin-top: 28px;
}
.footer__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 16px;
}
.footer__article {
  padding: 0 30px;
  margin: 0 10px;
}
.footer__article:nth-child(2) {
  padding-left: 38px;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-transform: none;
  color: #292D32;
}
.footer__permalinks {
  padding: 14px 0 0 0;
}
.footer__li {
  padding: 0 0 10px 0;
}
.footer__a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  color: #292D32;
}
.footer__contacts {
  display: grid;
  grid-template-columns: 3.45fr 2.73fr 1.46fr 1fr;
  gap: 10px;
  border-top: 1px solid #E5E5E5;
  padding: 40px 0 40px 0;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact:nth-child(4) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.footer__contact-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133.69%;
  text-transform: none;
  color: #838383;
  display: block;
}
.footer__contact-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: none;
  color: #292D32;
  display: block;
  padding-top: 10px;
}

@media all and (max-width: 375px) {
  .container {
    width: 345px;
  }
  /*--------------------NAVBAR--------------------*/
  .nav {
    background: #fff;
    width: 375px;
    height: 5.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
  }
  .nav__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav button {
    display: inline-block;
    background: transparent;
    transition: all 400ms ease;
  }
  .nav .btn-close {
    transition: all 400ms ease;
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu_left {
    gap: 0px;
  }
  .menu_left .menu__a:nth-child(1), .menu_left .menu__a:nth-child(2), .menu_left .menu__a:nth-child(3), .menu_left .menu__a:nth-child(4), .menu_left .menu__a:nth-child(5) {
    display: none;
  }
  .menu_right {
    margin-right: -15px;
    gap: 5px;
  }
  .menu_right li:nth-child(1) .circle__counter, .menu_right li:nth-child(2) .circle__counter, .menu_right li:nth-child(3) .circle__counter {
    display: none;
  }
  .menu_right li:nth-child(1) {
    position: relative;
  }
  .menu_right li:nth-child(1):hover .circle {
    border: 1px solid #33A9FF;
  }
  .menu_right li:nth-child(1):hover .profile .circle {
    border: 1px solid transparent;
  }
  .menu_right li:nth-child(1):hover .profile {
    display: none;
  }
  .menu_right li:nth-child(2) .menu__a, .menu_right li:nth-child(3) .menu__a {
    display: none;
  }
  .menu_burger {
    padding: 12px 0 65px 40px;
    background: #fff;
    align-items: flex-start;
    position: fixed;
    top: 5.4rem;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    gap: 45px;
    display: none;
  }
  .menu_burger .menu__logo, .menu_burger li:last-child {
    display: none;
  }
  .menu__logo {
    margin-right: 68px;
  }
  .menu__logo img {
    width: 60px;
    height: 60px;
  }
  .menu__a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #292D32;
  }
  .menu__a:hover {
    color: #33A9FF;
  }
  .circle {
    width: 46px;
    height: 46px;
    background: #F9F9F9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .circle:hover {
    border: 1px solid #33A9FF;
  }
  .circle__counter {
    width: 16px;
    height: 16px;
    background: #48A4EB;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle__counter-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }
  .profile {
    background: transparent;
    transition: all 400ms ease;
    display: none;
    position: absolute;
    padding: 70px 0 0 0;
    top: 246px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .profile:hover {
    display: block;
  }
  .profile__container {
    width: 405px;
    border-radius: 20px;
    overflow: visible;
    background: #fff;
    box-shadow: 0px 14px 75px rgba(0, 0, 0, 0.13);
    position: relative;
  }
  .profile__container::before {
    content: "";
    display: block;
    background: #fff;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: absolute;
    left: 48.8%;
    top: -7.7px;
    transform: rotate(45deg);
  }
  .profile__elem {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    align-items: center;
    gap: 20px;
  }
  .profile__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
  }
  .profile__a {
    display: block;
    border-top: 1px solid #F2F2F2;
    padding: 19.5px 30px;
  }
  .profile__a:hover .profile__text {
    color: #33A9FF;
  }
  /*--------------------HEADER--------------------*/
  .header {
    position: relative;
    top: 5.5rem;
  }
  .header__container {
    height: 593px;
    width: 375px;
  }
  .slider-container {
    width: 375px;
    position: relative;
    background: #F2F2F2;
  }
  .slider-container__bg {
    display: none;
    font-family: "Rubik One";
    font-style: normal;
    font-weight: 400;
    font-size: 270px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(0deg, #EEEEEE -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.7;
    position: absolute;
    top: 80px;
    left: 250px;
    z-index: 1;
  }
  .slider-container__slider {
    position: relative;
    z-index: 2;
    background: transparent;
  }
  .slider-container__slider-next {
    padding: 20px 10px 41px 10px;
    height: 21px;
    border: none;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    right: 355px;
    top: 475px;
    z-index: 10;
  }
  .slider {
    overflow: hidden;
    width: 375px;
    height: 593px;
  }
  .slider__shadow {
    background: #F9F9F9;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
  .slider__line {
    width: 1875px;
    height: 786px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 400ms ease;
  }
  .slider__slide {
    transition: all 400ms ease;
    height: 593px;
    width: 375px;
    display: flex;
  }
  .slider__slide:nth-child(3), .slider__slide:nth-child(4), .slider__slide:nth-child(5), .slider__slide:nth-child(6) {
    display: none;
  }
  .slider__slide:nth-child(2) {
    display: none;
    background: red;
  }
  .slider__slide:nth-child(2) .slide {
    flex-direction: row;
  }
  .slider__slide:nth-child(2) .slide .slide__scroll, .slider__slide:nth-child(2) .slide .slide__subtitle, .slider__slide:nth-child(2) .slide .slide__button {
    display: none;
  }
  .slider__slide:nth-child(2) .slide__img {
    display: none;
  }
  .slider__slide:nth-child(2) .slide__img img {
    height: 166px;
    width: 252px;
  }
  .slider__slide:nth-child(2) .slide__title {
    margin-top: 5px;
    width: 250px;
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292D32;
    position: relative;
  }
  .slide {
    display: flex;
    flex-direction: column;
  }
  .slide__scroll {
    display: none;
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
    position: relative;
    left: 214px;
    bottom: 159px;
  }
  .slide__scroll-icon {
    display: block;
  }
  .slide__scroll-text {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #838383;
    transform: rotate(-90deg);
  }
  .slide__description {
    position: relative;
    left: 15px;
    top: -40px;
    z-index: 3;
  }
  .slide__subtitle {
    display: inline-block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #838383;
  }
  .slide__title {
    margin-top: 5px;
    width: 250px;
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292D32;
    position: relative;
  }
  .slide__button {
    margin-top: 28px;
    gap: 3px;
  }
  .slide__img {
    position: relative;
    left: 24px;
    top: -33px;
  }
  .slide__img img {
    width: 327px;
    height: 325px;
  }
  /*--------------------CATEGORIES--------------------*/
  .categories {
    padding: 123px 0 120px 0;
  }
  .categories__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .category {
    width: 345px;
    height: 291px;
    border-radius: 10px;
    background: #F2F2F2;
    position: relative;
    transition: all 400ms ease;
  }
  .category:hover {
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3);
  }
  .category:nth-child(1) {
    background: transparent;
  }
  .category:nth-child(1):hover {
    box-shadow: none;
  }
  .category__number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    color: #292D32;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .category__img {
    display: block;
    position: absolute;
  }
  .category:nth-child(2) .category__img {
    top: 15px;
    left: 20px;
    width: 302px;
  }
  .category:nth-child(3) .category__img {
    top: 12px;
    left: 100px;
    width: 210px;
  }
  .category:nth-child(4) .category__img {
    top: 65px;
    left: 40px;
    width: 264px;
  }
  .category:nth-child(5) .category__img {
    top: 46px;
    left: 58px;
    width: 227px;
  }
  .category:nth-child(6) .category__img {
    top: 28px;
    left: 68px;
    width: 253px;
  }
  .category__description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .category__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #838383;
  }
  .category__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #292D32;
  }
  .category-main {
    height: 230px;
  }
  .category-main__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292D32;
    display: inline-block;
    padding: 0 100px 0 0;
  }
  .category-main__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #838383;
    padding: 20px 10px 0 0;
  }
  .category-main__button {
    display: inline-block;
    padding: 32px 0 0 0;
  }
  .button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transition: all 400ms ease;
  }
  .button__circle {
    width: 45px;
    height: 45px;
    background: #33A9FF;
    border-radius: 50%;
    position: relative;
  }
  .button__arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .button__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #292D32;
    display: inline-block;
    margin: 0 12px;
  }
  .button__title_light {
    color: #fff;
  }
  .button:hover .button__circle {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  .button:hover .button__title {
    color: #33A9FF;
  }
  /*--------------------BENEFITS--------------------*/
  .benefits {
    background: #F2F2F2;
    padding: 55px 0 125px 0;
    position: relative;
  }
  .benefits__bg {
    font-family: "Rubik One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.7;
    position: absolute;
    top: 366px;
    z-index: 1;
  }
  .benefits__container {
    display: flex;
    flex-direction: column;
  }
  .benefits__main {
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;
  }
  .benefits__img {
    display: block;
    position: relative;
    width: 345px;
    height: 194px;
    top: -59px;
    left: 63px;
  }
  .benefits__description {
    position: relative;
    left: 0;
  }
  .benefits__title {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    color: #292D32;
    display: block;
    padding: 47px 0 0 0;
  }
  .benefits__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #838383;
    display: block;
    padding: 20px 20px 0 0;
  }
  .benefits__button {
    margin: 33px 0 0 0;
  }
  .benefits__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: -20px;
  }
  .benefit {
    width: 345px;
    height: 211px;
    border-radius: 10px;
    background: #292D32;
    position: relative;
    overflow: hidden;
  }
  .benefit__forbg {
    position: absolute;
    right: 0;
    width: 35%;
    top: -12px;
  }
  .benefit__img {
    height: 50px;
    width: 50px;
    border-radius: 9px;
    background: #343A41;
    margin: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefit__img img {
    display: block;
    width: 31px;
    height: 31px;
  }
  .benefit__title {
    font-family: "Euclid Circular A", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    display: block;
    padding: 15px 20px 0 15px;
  }
  .benefit__subtitle {
    font-family: "Euclid Circular A", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #B7B7B7;
    display: block;
    padding: 10px 0 0 15px;
  }
  /*--------------------NEWS--------------------*/
  .news {
    padding: 120px 0 120px 0;
  }
  .news__container {
    display: flex;
    flex-direction: column;
  }
  .news__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .news__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #292D32;
    display: block;
  }
  .news__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #838383;
    display: block;
    padding: 22px 0 25px 0;
    width: 100%;
  }
  .news__button {
    position: relative;
    margin-bottom: 45px;
  }
  .news__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .new {
    width: 325px;
    height: 293px;
    position: relative;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
  }
  .new__date {
    position: absolute;
    background: #fff;
    right: -20px;
    top: 53px;
    width: 39px;
    height: 76px;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .new__day {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    color: #292D32;
  }
  .new__month {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    color: #292D32;
  }
  .new__container {
    width: 100%;
    height: 100%;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden;
  }
  .new__img {
    display: block;
    width: 100%;
    height: 185px;
  }
  .new__bg {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 325px;
    height: 170px;
  }
  .new__bg-button {
    position: absolute;
    right: 24px;
    bottom: 80px;
    z-index: 2;
    background-color: #fff;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px;
    border-radius: 50%;
  }
  .new__button-circle {
    width: 30px;
    height: 30px;
    background: #292D32;
  }
  .new__text {
    position: relative;
    z-index: 2;
  }
  .new__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    color: #292D32;
    display: inline-block;
    margin: -15px 100px 0 20px;
  }
  .new__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #292D32;
    display: block;
    margin: 10px 20px;
  }
  /*--------------------FORM--------------------*/
  .form {
    position: relative;
    padding: 0 0 0px 0;
  }
  .form__bg-color {
    display: none;
    width: 100%;
    height: 673px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
  .form__bg {
    display: none;
    font-family: "Rubik One";
    font-style: normal;
    font-weight: 400;
    font-size: 255px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(0deg, #EEEEEE -45.37%, rgba(238, 238, 238, 0) 95.17%), linear-gradient(89.91deg, rgba(255, 255, 255, 0.85) 11.75%, rgba(255, 255, 255, 0) 162.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.6;
    position: absolute;
    z-index: 2;
    bottom: 25px;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
    width: 375px;
  }
  .form__left {
    background: #F9F9F9;
    width: 100%;
    padding: 100px 0px 30px 30px;
    z-index: 3;
  }
  .form__title {
    width: -moz-max-content;
    width: max-content;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #292D32;
    display: block;
  }
  .form__title_light {
    color: #fff;
  }
  .form__subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #838383;
    display: block;
    padding: 17px 70px 40px 0;
  }
  .form__subtitle_light {
    color: #fff;
  }
  .form__contact {
    margin-bottom: 30px;
  }
  .form__contact:nth-child(4) {
    margin-bottom: 30px;
  }
  .form__contact:nth-child(5) {
    margin-bottom: 30px;
  }
  .form__contact:nth-child(6) {
    display: flex;
    gap: 15px;
  }
  .form__contact a img {
    width: 26px;
    height: 26px;
  }
  .form__right {
    width: 100%;
    background: #292D32;
    padding: 53px 0 60px 30px;
    z-index: 3;
  }
  .form__right .form__subtitle {
    padding: 7px 20px 10px 0;
  }
  .form__field {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .form__field:last-child {
    margin-bottom: 28px;
  }
  .form__button {
    padding: 15px;
    background: transparent;
    margin-top: -15px;
    margin-right: 5px;
    gap: 2px;
  }
  .form__img {
    position: absolute;
    transform: rotate(14.5deg);
    top: 410px;
    left: 200px;
    z-index: 4;
  }
  .form__img img {
    width: 130px;
  }
  .field {
    position: relative;
    padding: 5px 0 0 0;
  }
  .field__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #F2F2F2;
    position: absolute;
    top: -5px;
    left: 15px;
    padding: 0 10px;
    background: #292D32;
  }
  .field__block {
    background: #292D32;
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 10px;
    display: block;
    width: 315px;
    height: 40px;
    color: #fff;
    padding: 0 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }
  .field__block_message {
    height: 80px;
  }
  .form-contact {
    display: flex;
    flex-direction: row;
  }
  .form-contact__icon {
    width: 18px;
  }
  .form-contact__icon img {
    width: 18px;
    height: 18px;
  }
  .form-contact__description {
    padding: 0 0 0 10px;
    margin-right: 50px;
  }
  .form-contact__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #838383;
    display: block;
    padding-bottom: 0px;
  }
  .form-contact__info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #292D32;
    display: inline-block;
  }
  /*--------------------FOOTER--------------------*/
  .footer {
    padding: 0px 0 0px 0;
    position: relative;
  }
  .footer__bg {
    font-family: "Rubik One";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92.69%;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.7;
    position: absolute;
    top: 670px;
    right: 0;
    z-index: 1;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  .footer__main-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 24px;
    padding: 0 0 100px 0;
    position: relative;
    z-index: 2;
  }
  .footer__logo {
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 31px;
    margin-left: 40%;
  }
  .footer__logo img {
    width: 70px;
    height: 70px;
  }
  .footer__articles {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 0 0px;
  }
  .footer__article {
    padding: 0 5px;
    margin: 0 0px;
  }
  .footer__article:nth-child(2) {
    padding: 0 5px;
    position: relative;
    left: -15px;
  }
  .footer__article:nth-child(1) {
    margin-top: 20px;
    padding-left: 0px;
    position: relative;
    width: 100%;
  }
  .footer__article:nth-child(1) ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__article:nth-child(1) ul li {
    padding-right: 30px;
  }
  .footer__article:nth-child(1) ul li:nth-child(1), .footer__article:nth-child(1) ul li:nth-child(3), .footer__article:nth-child(1) ul li:nth-child(4) {
    position: absolute;
    right: 70px;
  }
  .footer__article:nth-child(1) ul li:nth-child(3) {
    top: 60px;
  }
  .footer__article:nth-child(1) ul li:nth-child(4) {
    top: 90px;
  }
  .footer__article:nth-child(1) ul li:nth-child(2), .footer__article:nth-child(1) ul li:nth-child(5) {
    width: 44%;
    position: absolute;
    left: 0;
  }
  .footer__article:nth-child(1) ul li:nth-child(5) {
    top: 75px;
  }
  .footer__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #292D32;
  }
  .footer__permalinks {
    padding: 14px 0 0 0;
  }
  .footer__li {
    padding: 0 0 10px 0;
  }
  .footer__a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #292D32;
  }
  .footer__contacts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border-top: 1px solid #E5E5E5;
    padding: 35px 0 20px 0;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }
  .footer__contact:nth-child(4) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 10px;
  }
  .footer__contact img {
    width: 30px;
    height: 30px;
  }
  .footer__contact-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133.69%;
    color: #838383;
    display: block;
  }
  .footer__contact-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #292D32;
    display: block;
    padding-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */